@page "/"

<div class="backGroundUp">
    <div class="logoImage"></div>
</div>

<div class="backGroundDown">
    <input class="inputAuthoRectangle fw-bold" style="font-size:40px; top: 10%"  placeholder="Логин" />
    <input class="inputAuthoRectangle fw-bold" style="font-size:40px; top: 30%" placeholder="Пароль" />
    <button class="btnAuthoRectangle fw-bold" style="font-size:40px;">Войти</button>
    <a class="hyperLinkReg" href="/registration">Нет аккаунта?</a>
</div>

@code {
}
